/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=PT+Sans:wght@400;700&family=Work+Sans:wght@300;400;500&display=swap');

/* 
Font code: font-family: 'Montserrat', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Work Sans', sans-serif; 
*/


* {
    background-color: #dec2af;
    padding: 0;
    margin: 0;
    cursor: url(Cursors/main-cursor.png), auto;
}

a {
    cursor: url(Cursors/hand-pointer.png), auto;
}

hr {
    border: 0;
    height: 2px;
    width: 94%;
    margin: auto;
    background-color: #361500;

}



/* #THE TWO DIVS */
.header {
    padding-bottom: 20px;
}

.main{

}



/* #NAV-LINKS PART */
.nav-links{
    height: 5px;
}

.nav-links ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Work Sans', sans-serif;  
}

.nav-links li{
    float: right;
}

.nav-links li a{
    display: block;
    padding: 20px;
    /* padding-right: 15px; */
    color: #361500;
    text-decoration: none;
    font-size: 0.90em;
}

.nav-links li a:hover{
    color: #814f31;
}



/* #HEADER IMAGE PART */
.header-title{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.header-title img{
    width: 250px;
}



/* #NAV-ITEMS PART */
.nav-items{
    margin: auto;
    height: 20px;
    width: 50vw;
    min-width: 600px;
    display: flex;
    justify-content: space-around;
}

.nav-items a{
    position: relative;
    color: #361500;
    text-decoration: none;
    font-size: 1.05em;
    font-family: 'Work Sans', sans-serif;
    /* padding: 0 10px 2px; */
    padding-bottom: 1em;
}

.nav-items a:hover{
    color: #814f31;
}

.nav-items a::after{
    content: "";
    display: block;
    background-color: #b1966f;
    height: 3px;
    width: 0;
    left: 0;
    transition: 0.3s;
}

.nav-items a:hover:after{
    width: 100%;
}

